.pagination {
	ul {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 15px;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			margin: 0 0.5rem;
			border: 1px solid #e0e0e0;
			border-radius: 50%;
			cursor: pointer;
			width: 3rem;
			height: 3rem;
			display: flex;
			justify-content: center;
			align-items: center;

			&:hover {
				background-color: #e0e0e0;
			}

			a {
				text-decoration: none;
				color: #000;
				font-size: 1.5rem;
				&:hover {
					color: #000;
				}
			}
		}
	}

	.selected {
		background-color: #e0e0e0;
	}
}
